extends layout

block content
  h1= title
  p Welcome to #{title}

  p I would like to play outdoor games such as Kabaddi, Cricket, Khoo-kho and Badminton. I can play this games for several hours and enjoy playing them. 